name: Check Tutorial

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  find-dirs:
    runs-on: ubuntu-latest
    outputs:
      dirs: ${{ steps.find.outputs.dirs }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Find Cargo directories
        id: find
        run: |
          dirs=$(find src -name Cargo.toml -mindepth 3 -maxdepth 3 -exec dirname {} \; | sort -t/ -k2,2n | jq -R -s -c 'split("\n") | map(select(. != ""))')
          echo "dirs=$dirs" >> $GITHUB_OUTPUT

  check:
    needs: find-dirs
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dir: ${{ fromJson(needs.find-dirs.outputs.dirs) }}
      fail-fast: false

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt, clippy

      - name: Cache cargo
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: ${{ matrix.dir }}

      - name: Check formatting
        working-directory: ${{ matrix.dir }}
        run: cargo +nightly fmt -- --check

      - name: Run clippy
        working-directory: ${{ matrix.dir }}
        run: |
          step_number=$(echo "${{ matrix.dir }}" | cut -d/ -f2)
          if [[ "$step_number" =~ ^([1-9]|1[0-9]|2[0-6])$ ]]; then
            RUSTFLAGS="-A unused -A clippy::ptr-arg" cargo +nightly clippy -- -D warnings
          else
            RUSTFLAGS="-A unused" cargo +nightly clippy -- -D warnings
          fi

      - name: Run tests
        working-directory: ${{ matrix.dir }}
        run: RUSTFLAGS="-A unused -D warnings" cargo test
